<div class="promos">
  <div class="icono-promo">
    <p class="promos-tag">
      <i class="fa-solid fa-tag"></i>
      Promociones
    </p>
    <p class="pro-text">Por la compra mayor a $ recibe envios gratis</p>
  </div>
</div>

<style>
  .promos {
    display: flex;
    align-items: center;
  }

  .icono-promo {
    width: 100%;
    height: 150px;
    background: linear-gradient(135deg, #00c853 30%, #7cff6b 60%, #b2ff59 100%);
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .icono-promo i,
  .icono-promo p {
    color: white;
    font-size: 25px;
    padding: 12px;
  }

  .pro-text {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0 0 12px;
    position: relative;
    top: -70px;
  }
</style>
