<div class="login-container">
  <button id="back" class="back-btn">
    <i class="fa-solid fa-arrow-left"></i> Volver
  </button>
  <h1>Filo</h1>
  <p>Inicia sesión para continuar</p>

  <form id="loginForm">
    <div class="input-group">
      <i class="fa-solid fa-envelope"></i>
      <input type="email" placeholder="Correo electrónico" required />
    </div>

    <div class="input-group">
      <i class="fa-solid fa-lock"></i>
      <input type="password" placeholder="Contraseña" required />
    </div>

    <button type="submit">Entrar</button>
  </form>

  <p class="register">
    ¿No tienes cuenta? <a href="#">Regístrate</a>
  </p>
</div>

<script src="../Src/Scripts/login.js"></script>
