---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Categorias from "../components/Categorias.astro";
import Promos from "../components/Promos.astro";
import Populares from "../components/populares.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Filo</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Filo" />
    <meta
      name="keywords"
      content="Filo, comida, restaurante, comida rápida, delivery"
    />
    <meta name="author" content="Filo" />
    <meta property="og:title" content="Filo" />
    <meta property="og:description" content="Filo" />
    <meta property="og:image" content="/favicon.svg" />
    <meta property="og:url" content="https://filo.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
  </head>
  <body>
    <Header />
    <Categorias />
    <Promos />
    <Populares />
    <slot />
    <Footer />
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  html,
  body {
    padding-bottom: 80px;
    overflow-x: auto;
    min-width: 500px;
  }
</style>
