---
import Perfiluserlog from "../components/perfiluserlog.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mi perfil | Filo</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <Perfiluserlog />
        <slot />
    </body>
</html>
