---
import AuthCard from "../components/AuthCard.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Registrarse en Filo</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="" />
        <link
            rel="stylesheet"
            href="ttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Filo" />
        <meta
            name="keywords"
            content="Filo, comida, restaurante, comida rápida, delivery"
        />
        <meta name="author" content="Filo" />
        <meta property="og:title" content="Filo" />
        <meta property="og:description" content="Filo" />
        <meta property="og:url" content="https://filo.com" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="es_ES" />
    </head>
    <body>
        <AuthCard />
        <slot />
    </body>
</html>
